* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Heebo";
}

.total-container {
	width: 100vw;
	height: 100vh;
}

main {
	box-shadow: 1px 0px 20px black;
	padding-bottom: 200px;
}

#divisor2 {
	height: 6px;
	margin-top: 4rem;
	padding: 0 4rem;
}

.navbar-fixed {
	width: 100%;
	height: 100%;
	background-color: #2b2b2b;
	display: flex;
	padding: 2rem 0;
}

#cont-header {
	display: flex;
	justify-content: flex-end;
	background-color: #2b2b2b;
}

#nav-text-container {
	display: flex;
	justify-content: flex-end;
	height: 100%;
}

.nav-text {
	font-size: 20px;
	margin-right: 3rem;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.nav-text:hover {
	background-color: rgba(52, 152, 219, 0.02);
	text-shadow: 2px 2px 60px rgba(91, 187, 255, 1);
}

.logo {
	width: 100px;
	position: absolute;
	top: 11px;
	left: 10%;
	z-index: 999;
}

li {
	margin-right: 25px;
	padding-right: 25px;
}

.ainer-fluid {
	background-color: #2b2b2b;
}

.border-total-container {
	background-color: white;
	padding: 0 13.3%;
}

.carrusel {
	height: 28rem;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.boto {
	background-color: #8fc740;
	border: #ffffff;
}
.boto:hover {
	background-color: #dcdcdc;
	color: #303030;
}

.infoCarrusel {
	background-color: #2b2b2b;
	opacity: 0.6;
	position: absolute;
}

.carrouselText {
	z-index: 999;
}

.iconos {
	display: flex;
	justify-content: space-evenly;
	margin-top: 0;
	margin-bottom: 2rem;
	background-color: white;
	flex-wrap: wrap;
}
#eco-icons-container {
	width: 100%;
	margin: 0;
	padding: 0;
	align-items: center;
	width: 50%;
}
#eco-info {
	width: 50%;
	align-content: center;
}
.imgBox2 {
	width: 240px;
	height: 85px;
}

.imgBox {
	width: 100px;
	height: 100px;
	object-fit: fill;
}

.aval {
	margin-top: 1rem;
	margin-left: 3rem;
}

.divisor {
	width: 100%;
}

.tituloBoton {
	align-items: center;
	flex-wrap: wrap;
}

.iconosInfo {
	display: flex;
	justify-content: center;
}

.contBot {
	background-color: rgb(77, 181, 213);
	padding: 3rem 2rem;
}

.sticky-container {
	position: sticky;
	top: 0;
	z-index: 100;
}

.caption-style-4 {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.caption-style-4 .li {
	float: left;
	position: relative;
	overflow: hidden;
}

.caption-style-4 .li:hover .caption {
	opacity: 1;
}

.caption-style-4 .li img {
	margin: 0;
	padding: 0;
	float: left;
	z-index: 0;
	transition: all 0.25s ease-in-out;
}

.caption-style-4 .caption {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	transition: all 0.45s ease-in-out;
}

.caption-style-4 .blur {
	background-color: rgba(0, 0, 0, 0.65);
	height: 12rem;
	width: 12rem;
	z-index: 5;
	position: absolute;
}

.caption-style-4 .caption-text h1 {
	text-transform: uppercase;
	font-size: 15px;
}

.caption-text > p {
	font-size: 11px;
	padding: 0 1rem;
}

.caption-style-4 .caption-text {
	z-index: 10;
	position: absolute;
	color: #fff;
	width: 12rem;
	height: 12rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.li > img {
	width: 12rem;
	height: 12rem;
}

h3 {
	font-weight: 640;
}

.servicios {
	margin: 3rem 0;
	text-align: center;
}

.sub-title {
	text-align: center;
	margin: 4rem 0;
}

.servicesContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 4rem;
}
#services {
	display: flex;
	justify-content: center;
}
.footer-container {
	position: relative;
	z-index: 999; /* Asegúrate de que el z-index sea mayor que el del contenido principal */
}

.footer-distributed {
	background: #2b2b2b;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px;
	padding: 55px 50px;
	position: absolute;
	bottom: 0;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left {
	width: 40%;
}

.footer-distributed h3 {
	color: #ffffff;
	font: normal 36px "Open Sans", cursive;
	margin: 0;
}

.footer-distributed h3 span {
	color: lightseagreen;
}

.footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-company-name {
	color: #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
	width: 35%;
}

.footer-distributed .footer-center i {
	background-color: #2b2b2b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	font-weight: 400;
	vertical-align: middle;
	margin: 0;
}

.footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-distributed .footer-center p a {
	color: #18acd1;
	text-decoration: none;
}

#footer-company {
	margin-top: 3rem;
	color: #8fc740;
	font-size: 16px;
}

.footer-distributed .footer-links a:before {
	content: "|";
	font-weight: 300;
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
}

.elementosFooter {
	margin-right: 5px;
	cursor: pointer;
}
.elementosFooter:hover {
	color: #8fc740;
}

.footer-distributed .footer-links .link-1:before {
	content: none;
}

.face {
	width: 15px;
}

/* Footer Right */

.footer-distributed .footer-right {
	width: 20%;
}

.footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons {
	display: flex;
	align-items: center;
}

.footer-distributed .footer-icons {
	margin-top: 25px;
}

.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #e9ecef;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

#enfoque-clientes-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
	padding: 0 4rem;
}

.card-body {
	padding: 3rem 4rem;
}

.clientes-img {
	width: 100%;
}

.clientes {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	border: solid 1.5px #92999f;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgb(134, 134, 134);
	padding: 0.8rem;
}

.clientes-title {
	font-weight: 600;
	margin-top: 1rem;
	font-size: 20px;
}
#whatsapp-btn {
	background-color: rgb(77, 194, 71);
	width: 65px;
	height: 65px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#whatsapp-link {
	position: fixed;
	bottom: 20px;
	right: 50px;
}
#whatsapp-link:hover > :first-child {
	--escala: 1.2;
	cursor: pointer;
}
#whatsapp-link > :first-child {
	transform: scale(var(--escala, 1));
	transition: transform 0.25s;
}
.clientes-text {
	font-size: 14px;
	padding: 0.5rem 1rem;
}

.clientes-btn {
	padding: 0.3rem 1.5rem;
	margin-top: 1rem;
	background-color: #000000;
	color: #ffffff;
	font-weight: 580;
	border-radius: 10px;
	border: 0;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.clientes-btn:hover {
	background-color: #dcdcdc;
	color: rgb(34, 34, 34);
}
#why-container {
	margin: 1rem 4rem;
	text-align: center;
}
#why-card-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.why-card {
	display: flex;
	flex-direction: column;
	text-align: center;
	border: solid 1px #e2e2e2;
	border-radius: 20px;
	padding: 20px;
	background-color: #ffffff;
}
.why-text {
	color: rgb(77, 181, 213);
}

.why-card:hover .why-img-container > :first-child {
	color: #8fc740;
}

.why-card:hover .why-title {
	color: #587c25;
}
.why-card:hover .why-text {
	color: #415d1a;
}

.why-card:hover {
	box-shadow: 1px 1px 10px rgb(223, 223, 223);
}

#card-invitation-container {
	margin: 3rem 0;
}

.why-title {
	margin: 2rem 0;
	color: #1183a3;
}

#about-content,
#about-content-text,
#servicios-content {
	padding: 4rem 3rem;
}

.about-img {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.title1 {
	margin-top: 1rem;
	color: #8fc740;
	text-align: center;
}

.title2 {
	color: #009de0;
	text-align: center;
	margin-bottom: 2rem;
}
.title3 {
	color: #009de0;
	margin-bottom: 2rem;
}

.why-container {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.why-container > * {
	flex: 0 0 240px;
	margin: 0 10px;
}

#servicios-content h2 {
	text-align: center;
}

.servicios {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.servicios > * {
	flex: 0 0 48%;
	justify-content: space-between;
	margin: 1rem 0;
}

.clientes-img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.img-carrusel {
	object-fit: cover;
}

@media (max-width: 880px) {
	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i {
		margin-left: 0;
	}
}

.logoFooter {
	width: 172px;
	position: relative;
	left: 3rem;
	bottom: 12rem;
	z-index: 1000;
}

/* Cambia la posición del .footer-container después de cierto punto de desplazamiento */
@media (max-width: 925px) {
	.footer-container {
		position: relative;
	}
	#nav-text-container {
		display: none;
	}
	.logo {
		width: 70px;
		top: 1px;
	}
	.border-total-container {
		padding: 0 6%;
	}
	.carrusel {
		height: 250px;
	}
	.infoCarrusel {
		display: flex;
		flex-direction: column;
		position: static;
		font-size: 12px;
		padding: 1rem;
	}
	.aval {
		padding: 0;
		margin: 1.5rem 0;
		font-size: 25px;
		text-align: center;
	}
	#eco-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#eco-info {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.iconos {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2.5rem;
	}
	#eco-icons-container {
		width: 100%;
		margin: 1rem 0;
		padding: 0;
	}
	.eco-icons-img {
		height: 10rem;
	}
	.caption-style-4 .caption-text {
		width: 15rem;
		height: 15rem;
	}
	.li > img {
		width: 15rem;
		height: 15rem;
	}
	.caption-style-4 .blur {
		height: 15rem;
		width: 15rem;
	}
	#services {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#services {
		padding-bottom: 2rem;
	}
	.footer-container {
		bottom: -15rem;
		text-align: center;
	}
	.logoFooter {
		bottom: 32rem;
		z-index: 1000;
		left: 0;
	}
	.footer-icons {
		display: flex;
		justify-content: center;
	}
	#enfoque-clientes-container {
		display: flex;
		flex-direction: column;
		padding: 0 1.2rem;
	}
	.clientes {
		width: 100%;
		margin-bottom: 2rem;
	}
	main {
		padding-bottom: 20rem;
	}
	.contacto {
		margin: 2rem 0;
	}
	.card-body {
		padding: auto;
	}
	.sub-title {
		margin: 2rem 0;
	}
	#why-card-container {
		display: flex;
		flex-direction: column;
	}
	#whatsapp-link {
		right: 13%;
		bottom: 30px;
	}
	#whatsapp-link > :first-child {
		width: 40px;
		height: 40px;
	}
	#whatsapp-link > :first-child > :first-child {
		width: 30px;
		height: 30px;
	}
	#divisor2 {
		margin-bottom: 2.5rem;
	}
}
